# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/key.properties
android/app/google-services.json
*.jks
*.keystore
local.properties

# OS
.DS_Store
